.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  transition: 0.5s;
  color: white;
}

.raise:not(:hover) {
    transform: translateY(0.25em);
    transition: 0.5s;

}

.cardlink:hover,
.cardlink:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transition: 0.5s;
  color: white;
}

.cardlink:not(:hover) {
  transform: translateY(0.25em);
  transition: 0.5s;

}